//INITIALIZING FONT STYLE

@font-face {
  font-family: "Larsseit bold";
  src: url(./assets/fonts/Larsseit-Bold.ttf);
}

@font-face {
  font-family: "Larsseit medium";
  src: url(./assets/fonts/Larsseit-Medium.ttf);
}

@font-face {
  font-family: "Larsseit regular";
  src: url(./assets/fonts/Larsseit-Regular.ttf);
}

@font-face {
  font-family: "Larsseit italic";
  src: url(./assets/fonts/Larsseit-Italic.ttf);
}

@font-face {
  font-family: "Larsseit light";
  src: url(./assets/fonts/Larsseit-Light.ttf);
}

//INITIALIZING FONT FAMILY

$font-bold: "Larsseit bold";
$font-medium: "Larsseit medium";
$font-italic: "Larsseit italic";
$font-light: "Larsseit light";
$font-regular: "Larsseit regular";

//INITIALIZING COLORS

$primary: #4facfe;
$secondary: #999999;
$text-primary: #002d57;
$text-secondary: #34485a;
$gradient: #4facfe;
$label: #b1b7bc;
$error: #ff5050;
$success: #1fcc79;
$background: #fdffff;

fixedCenter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: 1050;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: $font-regular;
  background: $background;
  width: 100%;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

.active {
  color: #000;
}

button,
.cursor {
  cursor: pointer;
}

.btn-primary {
  border: none;
  outline: none;
  background: linear-gradient(180deg, #00f2fe -24136%, #4facfe 48696%);
  border-radius: 3px;
  padding: 0.7em 1em;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
  white-space: nowrap;
}

.txt-reg-14-txt-pri {
  font-size: 0.875em;
  color: $text-primary;
}

.txt-reg-14-txt-grad {
  font-size: 0.875em;
  background: -webkit-linear-gradient(180deg, #00f2fe -24136%, #4facfe 48696%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.txt-reg-16-txt-grad {
  font-size: 1em;
  background: -webkit-linear-gradient(180deg, #00f2fe -24136%, #4facfe 48696%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-b-32-txt-grad {
  font-size: 2em;
  font-weight: bold;
  background: -webkit-linear-gradient(180deg, #00f2fe -24136%, #4facfe 48696%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.txt-reg-16-txt-pri {
  font-size: 1em;
  color: $text-primary;

  @media (max-width: 576px) {
    font-size: 14px;
  }
}

.txt-reg-24-txt-pri {
  font-size: 1.5em;
  font-weight: 500;
  color: $text-primary;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}

.txt-reg-14-txt-sec {
  font-size: 0.875em;
  color: $text-secondary;
  line-height: 22px;
  font-weight: normal;
}

.txt-reg-16-txt-sec {
  font-size: 1em;
  color: $text-secondary;
  line-height: 22px;
  font-weight: 500;

  @media (max-width: 576px) {
    font-size: 14px;
  }
}

.title-b-16-txt-pri {
  font-size: 1em;
  color: $text-primary;
  letter-spacing: 0.05em;
  font-family: $font-bold;
  text-transform: capitalize;
}

.title-b-24-txt-pri {
  font-size: 1.5em;
  color: $text-primary;
  letter-spacing: 0.05em;
  font-family: $font-bold;
  text-transform: capitalize;
}

.title-b-32-txt-pri {
  font-size: 2em;
  color: $text-primary;
  letter-spacing: 0.05em;
  font-family: $font-bold;
  text-transform: capitalize;

  @media (max-width: 576px) {
    font-size: 1.5em;
  }
}

.title-reg-24-txt-pri {
  font-size: 1.5em;
  color: $text-primary;
  letter-spacing: 0.05em;
  font-weight: 500;
  text-transform: capitalize;
}

.workcard-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.25em;
  padding: 0 50px;

  @media (max-width: 768px) {
    padding: 0 30px;
  }
  @media (max-width: 576px) {
    grid-template-columns: 1fr;
    padding: 0 1em;
  }
}

.home,
.withdraw-screen,
.compliance-screen,
.activity-screen {
  padding: 0 50px;

  @media (max-width: 768px) {
    padding: 0 30px;
  }
  @media (max-width: 576px) {
    grid-template-columns: 1fr;
    padding: 0 1em;
  }
}

.block-right .transaction-card {
  background: #ffffff;
  box-shadow: 0px 3px 20px rgba(188, 109, 244, 0.1);
  border-radius: 5px;
  padding: 1em 1em;
  margin: 1em 0;

  .history {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px dashed #4facfe;
    padding: 0.8em 0;
  }
  .history:nth-last-child(1) {
    border: none;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1020;
}
