.error-screen{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

    div{
        display: flex;
        flex-direction: column;
        grid-gap: 2em;

        .error-btn{
            width: fit-content;
            border: 0.5px solid #4FACFE;
            border-radius: 3px;
            padding: 0.8em 2em;
        }

        @media (max-width:768px) {
           grid-gap: 1em;
           align-items: center;
           text-align: center;
        }
    }

    .error-image{
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;

         img{
            width: 100%;
        }
      
        @media (max-width:768px) {
            width: 80%;
            height: 360px;
         }

         @media (max-width:576px) {
            width: 90%;
            height: 200px;
         }
    }

    @media (max-width:768px) {
        flex-direction: column;
    }
}